body{
  margin: 0;
  height: 100vh;
  padding: 40px;
  background-color: black;
  font-family: 'Fira Code', monospace;
  color: green;
  width: 100vw;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}